@import "tailwindcss";

@theme {
  --color-brand: #117EC2;
  --color-brand-dark: #0D65A0;
  --color-brand-light: #EAF4FB;

  --color-brand-navy: #0B1E2D;
  --color-brand-navy-border: #1A3A52;
  --color-brand-navy-muted: #2A4F6A;

  --font-sans: 'Source Sans 3', sans-serif;
  --font-display: 'Manrope', sans-serif;
  --font-mono: monospace;
}

html {
  font-family: 'Source Sans 3', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}


