@import 'tailwindcss';

@theme {
  --color-brand: #117ec2;
  --color-brand-dark: #0d65a0;
  --color-brand-light: #eaf4fb;

  --color-brand-navy: #0b1e2d;
  --color-brand-navy-border: #1a3a52;
  --color-brand-navy-muted: #2a4f6a;

  --font-sans: 'Source Sans 3', sans-serif;
  --font-display: 'Manrope', sans-serif;
  --font-mono: monospace;
}

html {
  font-family: 'Source Sans 3', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
}
